/* Elise Frigoli
 * CSC 435 - Advanced Web App Development
 * Created: 03/21/20
 * Last Modified: 03/22/20 - Added Comments
 *                         - Added homepage styling
 *                04/05/20 - Added cart styling
 *                04/17/20 - Updated Login panel styles to Checkout panel styles
 *                04/19/20 - Updated Cart styles, added Product styles
 */

/* Typography */
@import url('https://fonts.googleapis.com/css?family=Lustria|Raleway:300,400,500,600&display=swap');

body {
  margin: 0;
  font-family: 'Raleway', sans-serif!important;
  font-weight: 300!important;
  color: #FCF9F6!important;
  width: 100vw;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #171b1c;
  background-image: linear-gradient(#e79796, #ffb284);
}

#root {
  min-height: 100vh;
  position: relative;
}

.hidden {
  display: none!important;
}

h1, h2 {
  font-family: 'Lustria', serif;
  font-weight: 400;
  color: #261a0d;
}

h2 {
  font-size: 30px;
  margin-bottom: 40px;
}

a:hover, a:active, a:focus {
  text-decoration: none!important;
}

a.buttonLink {
  color: #f5cec7;
  background-color: #a79e58;
  padding: 15px 65px;
  border-radius: 5px;
  border: 2px solid #a79e58;
  transition: all 0.3s ease;
  width: 50%;
  font-size: 16px;
  font-family: Raleway;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin-top: 20px;
  text-decoration: none;
}

a.buttonLink:hover, a.buttonLink:active, a.buttonLink:focus {
  background-color: #FFC98B;
  cursor: pointer;
  color: #261a0d;
  text-decoration: none;
}

/* Structure */
.fullWidthContainer {
  width: 100%;
}

.heroContainer {
  max-height: 275px;
  overflow: hidden;
  position: relative;
}

/* Header */
header {
  background-color: #261a0d;
  padding: 15px;
  text-align: right;
  box-shadow: 0px 0px 10px 0px rgba(38, 26, 13, 0.5);
}

header a {
  font-weight: 600;
  color: #f5cec7;
  text-decoration: none;
  transition: all 0.3s ease;
  padding: 0px 20px;
}

header a {
  border-right: 1px solid #f5cec7;
}

header a:last-of-type {
  border-right: 0px;
}

header a.active {
  color: #FCF9F6;
}

header a:active, header a:focus, header a:hover {
  color: #FFb284;
}

header h3 {
  color: #FFC98B;
  margin: 0px;
  font-family: 'Lustria', serif;
  font-size: 20px;
  float: left;
}

/* Hero Section */
.heroImg {
  max-width: 200%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginPageWrapper .heroImg {
  transform: translate(-50%, -60%);
}

.productsPageWrapper .heroImg {
  transform: translate(-50%, -30%);
  opacity: .85
}

.heroTitle {
  position: absolute;
  z-index: 100;
  bottom: 20%;
  color: #FCF9F6;
  font-size: 46px;
  padding: 0px 30px;
  text-shadow: 0px 0px 10px #000;
}

/* Footer */
footer {
  padding: 40px 0px;
  background-color: #261a0d;
  color: #f5cec7;
  text-align: center;
  font-weight: 500;
  box-shadow: 0px 0px 10px 0px rgba(38, 26, 13, 0.5);
}

footer > .container {
  display: flex!important;
  flex-direction: column;
  align-items: center;
}

.contactInfo {
  width: 80%;
  text-align: left;
}

.contactInfo h3 {
  margin-bottom:0px;
  color: #FFb284;
  font-family: 'Lustria', serif;
}

.contactInfo ul {
  padding-left: 0px;
  list-style: none;
}

.copyrightInfo {
  width: 80%;
  text-align: left;
}

.copyrightInfo p {
  font-size:12px;
}

footer a {
  font-weight: 600;
  color: #FFb284;
  text-decoration: none;
  transition: all 0.3s ease;
}

footer a:active, footer a:focus, footer a:hover {
  color: #f5cec7;
}

/* Homepage */
.homePage {
  width: 100%;
  text-align: center;
  padding: 30px 0px;
}

.homeItemContainer h2 {
  text-transform: capitalize;
}

.homeItemRow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeItemCard {
  width: 80%;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  overflow: hidden;
  background-color: #FCF9F6;
}

.homeItemCard h3 {
  color: #261a0d;
  padding: 20px 10px;
  margin-bottom: 0px;
}

.homeItemCard h4 {
  color: #a79e58;
  margin-bottom: 30px;
}

.homeItemCard img {
  max-width: 100%;
}

button.switchButton {
  background-color: #a79e58;
  padding: 15px 15px;
  border-radius: 5px;
  border: 2px solid #a79e58;
  transition: all 0.3s ease;
  font-size: 14px;
  font-family: Raleway;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin: 10px 20px;
  width: calc(100% - 40px);
}

button.switchButton:active, button.switchButton:hover, button.switchButton:focus {
  background-color: #FFC98B;
  cursor: pointer;
  color: #261a0d;
  outline: #ffb284;
  outline-style: auto;
  outline-width: 5px;
}

.checkoutPanel {
  background-image: url(/static/media/library.20f54136.jpg);
  background-size: cover;
  padding: 30px;
  min-height: 300px;
  position: relative;
}

.checkoutPanel > .container {
  position: absolute;
  top: calc(50% - 25px);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.checkoutPanel > .container h2 {
  color: #FCF9F6;
  font-size: 46px;
  text-shadow: 0px 0px 10px #000;
  margin-bottom:30px;
}


/* Login Page */
.loginPage {
  width: 100%;
  text-align: center;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 50px 0px;
}

.loginForm {
  width: 75%;
  max-width: 600px;
  margin: 0px auto;
  background-color: #fcf9f6;
  border-radius: 10px;
  padding: 30px 20px 50px;
  position: relative;
  top: 50%;
  box-shadow: 0px 0px 10px 0px rgba(38, 26, 13, 0.5);
}

.loginForm label {
  color: #261a0d;
  font-weight: 400;
  display: block;
}

.loginForm .inputContainer {
  width: 80%;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 20px;
}

.loginForm input {
  background-image: none!important;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #261a0d;
  border-radius: 5px;
  margin-top: 5px;
  width: calc(100% - 20px);
  font-family: Raleway;
  font-weight: 600;
  color: #261a0d;
}

.loginForm input::placeholder {
  font-style: italic;
  font-weight: 300;
  color: #a79e58;
}

.loginForm input:active, .loginForm input:focus {
    outline: #ffc98b;
    outline-style: auto;
    outline-width: 5px;
}

.loginPage button {
  background-color: #a79e58;
  padding: 15px 15px;
  border-radius: 5px;
  border: 2px solid #a79e58;
  transition: all 0.3s ease;
  width: 50%;
  font-size: 14px;
  font-family: Raleway;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  margin-top: 20px;
}

.loginPage button:hover, .loginPage button:active, .loginPage button:focus {
  background-color: #FFC98B;
  cursor: pointer;
}

button:active, button:focus {
    outline: #ffb284!important;
    outline-style: auto!important;
    outline-width: 5px!important;
}

/* Cart Page */
.cartPage > .container {
  margin: 40px 20px;
  padding: 30px 0px 0px;
  max-width: 90%;
  background-color: #fcf9f6;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(38, 26, 13, 0.5);
  text-align: center;
}

.cartContainer {
  color: #261a0d;
}

.cartContainer h3 {
  font-size: 28px;
  margin-bottom: 30px;
}

.cartContainer h3, .cartContainer h4 {
  font-weight: 400;
}

.cartContainer > h3, .cartContainer > h4 {
  padding: 0px 30px;
}

.cartContainer > h4 {
  color: #a79e58;
}

.cartContainer h6 {
  font-size: 18px;
  font-weight: 400;
}

.cartContainer a {
    color: #a79e58;
    transition: color 0.1s ease;
}

.cartContainer a:hover, .cartContainer a:focus, .cartContainer a:active {
    color: #261a0d;
}

.cartItemContainer {
  padding: 20px 30px;
  border-top: 1px solid #FFb284;
}

.cartItemContainer:nth-of-type(even) {
  background-color:#F9E4DF;
}

.cartItemImgContainer > img {
  max-width: 100%;
  border-radius: 10px;
  margin: 10px auto;
}

.cartTotal {
  padding: 20px 30px;
  text-align: right;
  border-style: double none none none;
  border-color: #FFb284;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.changeQuantityButton {
  margin-left: 10px;
  background-image: none!important;
  background-color: #FFC98B;
  border: 2px solid #FFC98B;
  color: #261a0d;
  padding: 0px 15px;
  font-size: 28px;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.2s ease;
}

button.changeQuantityButton:first-of-type {
  background-color: #a79e58;
  border-color: #a79e58;
}

button.changeQuantityButton:last-of-type {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  background-color: #e79893;
  border-color: #e79893;
}

button.changeQuantityButton:hover, button.changeQuantityButton:active, button.changeQuantityButton:focus {
  border-color: #261a0d;
  background-color: #FFb284;
  cursor: pointer;
}

/* Products Page */
.productsItemContainer {
  display: flex;
  flex-direction: column;
  padding: 60px 30px;
  align-items: flex-start;
}

.productsItemContainer h2 {
  font-size: 24px;
}

.itemSwitchContainer {
  width: 100%;
  background-color: #fcf9f6;
  border-radius: 10px;
  padding: 30px 20px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px 0px rgba(38, 26, 13, 0.5);
}

.productsDisplayContainer {
  width: 100%;
}

.productsDisplayContainer > h3 {
  text-transform: capitalize;
  text-align: center;
}

.productsItemListings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
}

.productsItemCard {
  width: 100%;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
  overflow: hidden;
  background-color: #FCF9F6;
  text-align: center;
}

.productsItemCard h3 {
  color: #261a0d;
  padding: 20px 10px 10px;
  margin-bottom: 0px;
  font-size: 18px;
}

.productsItemCard h4 {
  color: #a79e58;
  padding: 0px 10px 10px;
  font-size: 16px;
}

.productsItemCard img {
  max-width: 100%;
}

button.filterButton {
  display: block;
  background-color: transparent;
  border: 0px!important;
  outline: none!important;
  color: #a79e58;
}

button.filterButton:hover, button.filterButton:focus, button.filterButton:active {
  text-decoration: underline!important;
}

button.cartButton {
  width: 80%;
  margin: 20px 10%;
  background-color: #a79e58;
  padding: 15px 15px;
  border-radius: 5px;
  border: 2px solid #a79e58;
  transition: all 0.3s ease;
  font-size: 14px;
  font-family: Raleway;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

button.cartButton.inCart {
  background-color: #e79893;
  border-color: #e79893;
}

button.cartButton:hover {
  background-color: #FFC98B;
  border-color: #FFC98B;
}

@media only screen and (min-width: 769px) {
  .heroContainer {
    max-height: 300px;
  }
  .heroImg {
    max-width: 150%;
  }
  .heroTitle {
    bottom: 30%;
  }
  .homeItemRow {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 0px 30px;
  }
  .homeItemCard {
    width: 30%;
  }
  .homeItemCardImgContainer,
  .cartItemImgContainer {
    width: 100%;
    position: relative;
    max-height: 250px;
    overflow: hidden;
  }
  footer > .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }
  .contactInfo {
    width: 25%;
  }
  .contactInfo:nth-of-type(2) {
    text-align: center;
  }
  .contactInfo:nth-of-type(3) {
    text-align: right;
  }
  .copyrightInfo {
    width: 100%;
    text-align: center;
  }
  button.switchButton {
    margin: 20px;
    width: auto;
  }
  .checkoutPanel > .container {
    top: calc(50% - 10px);
  }
  .cartPage > .container {
      margin: 40px auto;
  }
  .cartItemDetailsContainer {
    text-align: left;
  }
  .cartItemImgContainer {
    max-width: 240px;
    max-height: 80%;
    margin-right: 20px;
  }
  .cartItemInfo {
    display: flex;
    align-items: center;
  }
  .cartItemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 992px) {
  .productsItemListings {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    padding: 60px 0px;
  }
  .productsItemCard {
    width: 30%;
  }
  .productsItemCardImgContainer {
    width: 100%;
    position: relative;
    max-height: 250px;
    overflow: hidden;
  }
  .productsItemContainer {
    flex-direction: row;
    padding: 60px 0px;
  }
  .itemSwitchContainer {
    width: 30%;
    margin-right: 45px;
    margin-top: 40px;
  }
}

@media only screen and (min-width: 1200px) {
  .heroTitle {
    width: 1140px;
    left: 50%;
    transform: translate(-50%,0);
  }
}
